* {
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* css variables */
:root {
  --white: #fff;
  --dark-gray: #ababab;
  --light-gray: #808080;
  --dark-bg: #222222;
  --light-bg: #333333;
  --yellow: #bac964;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--light-bg);
}

body {
  background-color: var(--dark-bg);
}

section {
  padding: 5rem 9%;
}

/* home */
.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Dubai.webp');
  filter: grayscale(30%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.home .hero-text {
  font-size: 7rem;
  color: var(--white);
  font-weight: 200;
  line-height: 1.2;
}

.home .hero-text span {
  font-weight: 800;
}
.hero-text span {
  color: #fff; /* set the text color to white */
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00; /* add multiple text shadows with different blur and color to create a neon effect */
}


.home p {
  color: var(--dark-gray);
  font-size: 1.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
/* home */

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5rem 9%;
  z-index: 100;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .navbar a {
  font-size: 1.5rem;
  color: var(--white);
  padding: 0 2rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
  text-transform: uppercase;
}

.header .menu {
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
  text-align: left;
  display: none;
}

.header.active {
  background-color: var(--white);
  padding: 3rem 9%;
}

.header.active .navbar a {
  color: var(--dark-bg);
}

.header.active .navbar a:hover {
  color: var(--yellow);
}

.header.active .menu {
  color: var(--dark-bg);
}
/* header */

/* portfolio */
/* utility class */
.heading {
  color: var(--white);
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  padding-bottom: 4rem;
}

.heading span {
  font-weight: 700;
}
/* utility class */

.button-link {
  display: inline-block;
  padding: 6px 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}


.projects .box-container .box .image {
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.projects .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.projects .box-container .box {
  background-color: var(--light-bg);
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.projects .box-container .box:hover img {
  transform: scale(1.2);
}

.projects .box-container .box .image .content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--light-bg);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
}

.projects .box-container .box .content h2 {
  font-size: 2rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.projects .box-container .box:hover .image .content {
  transform: translateY(0);
}

/* portfolio */
/* add scrollbar */
/* fix header */



/* about */
.about .box-container .box .image {
  height: 100%;
  overflow: hidden;
}

.about .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.about .box-container .box p {
  color: var(--dark-gray);
  margin-bottom: 2rem;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-transform: none;
}

/* utlity class */
.btn {
  background-color: var(--yellow);
  font-size: 1.7rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: var(--white);
  text-transform: uppercase;
  margin-right: 1rem;
  display: inline-block;
  margin-top: 1rem;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill {
  margin: 50px;
  font-size: 3rem;
}

.skills i {
  color: #ffc107;
  font-size: 100px;
  margin-right: 5px;
}

.skills .fas.fa-circle {
  color: #ffc107;
}

.skills .far.fa-circle {
  color: #ccc;
}

.skill.animated {
  animation-name: bounce;
  animation-duration: 1s;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
/* utlity class */
/* about */
/* experience and education */
/* resume */
.resume .col .box {
  background-color: var(--light-bg);
  padding: 2.5rem;
  margin: 2rem 0;
  box-shadow: var(--box-shadow);
}

.resume .col-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.resume .col h2 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 200;
  padding-bottom: 2rem;
}

.resume .col .box span {
  color: var(--white);
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}

.resume .col .box span i {
  padding-right: 0.5rem;
  font-size: 1.7rem;
}

.resume .col .box h3 {
  color: var(--yellow);
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
}

.resume .col .box p {
  font-size: 1.7rem;
  color: var(--dark-gray);
  margin-top: 1rem;
  line-height: 1.5;
  text-transform: none;
}

.resume .col .box .university {
  color: var(--light-gray);
  text-transform: capitalize;
}
/* resume */






/* contact */
.contact .col-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}

.contact .col-container .col h2 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 200;
  padding-bottom: 5rem;
}

.contact .col-container .col input,
.contact .col-container .col textarea {
  background-color: var(--light-bg);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: var(--dark-gray);
  margin: 0.5rem 0;
  resize: vertical;
}

.contact .col-container .col p {
  font-size: 1.7rem;
  color: var(--yellow);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact .col-container .col span {
  font-size: 1.5rem;
  color: var(--dark-gray);
  letter-spacing: 0.1rem;
}
/* contact */



/* media queries */
@media (max-width: 1200px) {
  .header {
    padding: 3rem 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  .header .menu {
    display: block;
  }

  .header .navbar {
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    background: var(--white);
    display: flex;
    flex-flow: column;
    text-align: center;
    transform: translateX(100%);
  }

  .header .navbar a {
    color: var(--dark-bg);
    margin: 0;
    font-size: 2rem;
    margin: 2rem 0;
  }

  header .navbar.show {
    transform: translateX(0);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .home .hero-text {
    font-size: 6rem;
  }
}
/* media queries */
/* Social icons */
.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.social-icons a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: -1;
  border-radius: 50%;
  transform: scale(0.5);
  filter: blur(20px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-icons a:hover:before {
  transform: scale(3);
  opacity: 1;
}

.social-icons a:hover {
  animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.headingre {
  color: white;
  font-size: xx-large;
  
}



.reflection {
  
  padding: 50px;
  text-align: center;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
}

.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.box-1 img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.box-2 {
  background-color: lightgreen;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: justify;
  margin-bottom: 30px;
  font-size: x-large;
}

.box-2 p {
  margin: 0;
}

















